server:
  port: 9090
  error:
    whitelabel:
      enabled: false
spring:
  h2:
    console:
      path: /h2-console
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
management:
  endpoints:
    web:
      base-path: /manage
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

      
