<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Products</title>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<h1>Products</h1>
	<table border="1" class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Quantity</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${products.empty}">
				<td colspan="2">No Products Available</td>
			</tr>
			<tr th:each="product : ${products}">
				<td><span th:text="${product.id}"> ID </span></td>
				<td><span th:text="${product.name}"> Name </span></td>
				<td><span th:text="${product.description}"> Description
				</span></td>
				<td><span th:text="${product.price}"> Price </span></td>
				<td><span th:text="${product.quantity}"> Quantity </span></td>
			</tr>
		</tbody>
	</table>
	</div>
</body>

</html>